mixin varDisplay(varName, value="")
    span(class=varName)= value

mixin varSetter(varName, value="", type="text")
    - var isInteger = Number.isInteger(parseInt(value))
    label(for=varName) Set the value of #{varName}:
    input(type=(isInteger ? "number" : type), name=varName, value=value, id=varName + "_setter", data-isinteger=isInteger)
    script.
        document.getElementById("#{varName}_setter").onchange = function(event) {
            var isInt = event.target.getAttribute('data-isinteger') === 'true';
            updateVariable("#{varName}", isInt ? parseInt(event.target.value) : event.target.value);
        }

